{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center mx-auto mb-3" style="max-width: 26rem">
                <div class="card-header text-center">
                    Add category.
                </div>
                <div class="card-body">
                    <form class="form-group" name="LoginForm" method="post">
                        {% csrf_token %}

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center mx-auto mb-3" style="max-width: 26rem">
                <div class="card-header text-center">
                    Delete category.
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}