{% extends "base.html" %}
{% block content %}
<div class="container">
INCOMES
    <form method="GET">
    {{ filter1.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% for income in filter1.qs %}
        <li> {{ income }} </li>
    {% endfor %}
    Income Sum: {{ income_sum }}
</div>
<div class="container">
EXPENSES
    <form method="GET">
    {{ filter2.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% for expense in filter2.qs %}
        <li> {{ expense }} </li>
    {% endfor %}
    Expense Sum: {{ expense_sum }}
</div>
{% endblock %}
