{% extends "base.html" %}
{% block content %}
    {% for obj in object_list %}
        <li> <a  href="{% url 'income-detail-view' pk=obj.pk %}"> {{obj}} </a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'income-update-view' pk=obj.pk %}">  UPDATE </a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'income-delete-view' pk=obj.pk %}">  DELETE </a>
        </li>
    {% endfor %}
<p></p>
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'income-create-view' %}"> ADD </a>
{% endblock %}
