{% extends "base.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Work</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}